### Filter()

In [1]:
# filter even numbers from the data

data = [23, 22, 36, 54, 59, 90]

In [2]:
def even(num):
    if num%2==0:
        return True
    return False

In [4]:
list(filter(even, data))

[22, 36, 54, 90]

In [5]:
def even(num):
    if num%2==0:
        return True

In [6]:
list(filter(even, data))

[22, 36, 54, 90]

In [7]:
bool(None)

False

In [8]:
def even(num):
    if num%2==0:
        return 1

In [9]:
list(filter(even, data))

[22, 36, 54, 90]

In [10]:
bool(1)

True

In [11]:
bool(0)

False

In [15]:
result = filter(even, data)

In [16]:
for i in result:
    print(i)

22
36
54
90

In [17]:
print(list(result))

[]

In [18]:
lambda num : num%2==0

In [20]:
list(filter(lambda num : num%2==0, data))

[22, 36, 54, 90]

In [21]:
# filter vowels from given string

In [22]:
string = input("enter string: ")

enter string: responsible

In [34]:
print(type(string))

<class 'str'>

In [33]:
vowels = ['a','e','i','o','u']

def check(ch):
    if ch in vowels:
        return True
    
list(filter(check, string))

['e', 'o', 'i', 'e']

In [37]:
vowels = ['a','e','i','o','u']

def check(ch):
    if ch not in vowels:
        return True
    
list(filter(check, string))

['r', 's', 'p', 'n', 's', 'b', 'l']

In [41]:
list(filter(lambda ch: ch in vowels, string))

['e', 'o', 'i', 'e']

In [68]:
data = {'Nitesh':78, 'Rahul':98, 'Raj':91, 'Amar':90, 'Abhi':81}

In [69]:
# Ex - 2 
# Filter students having marks greataer than or equal to 90

In [72]:
def marks(student):
    if data[student] >= 90:
        return True

In [73]:
list(filter(marks, data))

['Rahul', 'Raj', 'Amar']

In [76]:
list(filter(lambda student: data[student] >= 90, data))

['Rahul', 'Raj', 'Amar']

### Map Function

In [1]:
nums = [4,5,6,3,9]

In [2]:
list(map(lambda num:num**2, nums))

[16, 25, 36, 9, 81]

In [3]:
names = ['raj', 'yash', 'yashraj']

In [7]:
list(map(lambda name: len(name), names))

[3, 4, 7]

In [11]:
list(map(lambda num:num**2, nums))

[16, 25, 36, 9, 81]

In [12]:
def odd_square(num):
    if num%2 != 0:
        return num**2

In [13]:
list(map(odd_square, nums))

[None, 25, None, 9, 81]

In [16]:
def odd_square(num):
    if num%2 != 0:
        return num**2
    return num

In [17]:
list(map(odd_square, nums))

[4, 25, 6, 9, 81]

In [19]:
odd = lambda num: num**2 if num%2 != 0 else num

In [20]:
list(map(odd, nums))

[4, 25, 6, 9, 81]

In [24]:
salary = [1000,2000,3000,4000,5000]
bonus = [10,20,30,40]

def sal_bonus(sal,bo):
    print(sal, bo)

In [25]:
sal_bonus(salary, bonus)

[1000, 2000, 3000, 4000, 5000] [10, 20, 30, 40]

In [26]:
list(map(sal_bonus, salary, bonus))

1000 10
2000 20
3000 30
4000 40

[None, None, None, None]

In [27]:
salary = [1000,2000,3000,4000,5000]
bonus = [10,20,30,40]

def sal_bonus(sal,bo):
    return sal, bo

In [28]:
list(map(sal_bonus, salary, bonus))

[(1000, 10), (2000, 20), (3000, 30), (4000, 40)]

In [29]:
salary = [1000,2000,3000,4000,5000]
bonus = [10,20,30,40]

def sal_bonus(sal,bo):
    print(sal + bo)

In [30]:
list(map(sal_bonus, salary, bonus))

1010
2020
3030
4040

[None, None, None, None]

In [31]:
salary = [1000,2000,3000,4000,5000]
bonus = [10,20,30,40]
bonus1 = [100,200]

def sal_bonus(sal,bo, bo1):
    print(sal + bo + bo1)

In [32]:
list(map(sal_bonus, salary, bonus, bonus1))

1110
2220

[None, None]

In [33]:
laptops = {'hp': 50000, 'lenovo' : 60000, 'Asus': 45000, 'macbook': 120000}

In [34]:
budget = float(input("enter your budget: "))

enter your budget: 100000

In [35]:
def func(laptop):
    if laptops[laptop] <= budget:
        return laptop

In [36]:
list(filter(func, laptops))

['hp', 'lenovo', 'Asus']

### Reduce()

In [1]:
nums = [5,8,2,10,9]

In [2]:
import functools

functools.reduce(lambda x,y: x+y, nums)

34

In [4]:
max(nums)

10

In [5]:
def max1(a,b):
    if a > b:
        return a
    return b

In [7]:
functools.reduce(lambda a,b: a if a>b else b, nums)

10

In [8]:
functools.reduce(max1, nums)

10