In [2]:
add = lambda x,y: x+y

In [3]:
add(10,20)

30

In [4]:
type(add)

function

In [5]:
add = lambda x,y=10: x+y

In [6]:
add(10)

20

In [7]:
add(x=20)

30

In [8]:
add = lambda x,y: x+y, x-y

NameError: name 'x' is not defined

In [9]:
add = lambda x,y: (x+y, x-y)

In [12]:
add(10,20)

(30, -10)

incrementing number

In [14]:
inc = lambda x: x+1

In [15]:
inc(10)

11

finding power of number

In [17]:
cube = lambda x: x**3

In [18]:
cube(2)

8

convert string to uppercase

In [19]:
upper = lambda x:x.upper()

In [20]:
upper('india')

'INDIA'

celsius to Fahrenheit

In [21]:
c_F = lambda x: x * 9/5 +32

In [22]:
c_F(10)

50.0

In [23]:
# using lambda with the sorted() function

In [24]:
sorted([10,12,5,23,6,9])

[5, 6, 9, 10, 12, 23]

In [29]:
sorted(['John', 'Shaun', 'Mike', 'Donald'])

['Donald', 'John', 'Mike', 'Shaun']

In [32]:
sorted(['DonaldTrump', 'Shaun', 'Michael', 'John'], key = len)

['John', 'Shaun', 'Michael', 'DonaldTrump']

In [33]:
data = ['Sharma Rohit', 'Kohli Virat', 'Tendulkar Sachin', 'Raina Suresh', 'Gill Shubhman']

In [34]:
sorted(data, key = len)

['Kohli Virat',
 'Sharma Rohit',
 'Raina Suresh',
 'Gill Shubhman',
 'Tendulkar Sachin']

In [35]:
sorted(data)

['Gill Shubhman',
 'Kohli Virat',
 'Raina Suresh',
 'Sharma Rohit',
 'Tendulkar Sachin']

In [40]:
def func(name):
    return name.split()[1]

In [42]:
func('rohit sharma')

'sharma'

In [44]:
sorted(data, key= func)

['Sharma Rohit',
 'Tendulkar Sachin',
 'Gill Shubhman',
 'Raina Suresh',
 'Kohli Virat']

In [47]:
sorted(data, key = lambda name : name.split()[1])

['Sharma Rohit',
 'Tendulkar Sachin',
 'Gill Shubhman',
 'Raina Suresh',
 'Kohli Virat']

### Nested Lambda function

In [50]:
def outer():
    def add(num1,num2):
        return num1+num2
    return add

In [53]:
x = outer()

In [55]:
x(10,20)

30

In [56]:
add = outer()

In [57]:
add(10,20)

30

In [58]:
def outer():
    
    add = lambda num1, num2: num1 + num2
    return add

In [59]:
def outer():
    return lambda num1, num2:num1 +num2

In [60]:
add = outer()

In [61]:
add(10,20)

30

In [62]:
lambda : lambda num1, num2:num1 +num2

In [63]:
outer = lambda : lambda num1, num2:num1 +num2

In [64]:
add = outer()

In [65]:
add(10,20)

30

In [1]:
num1 = 10
num2 = 20

if num1 >= num2:
    print(num1)
else:
    print(num2)

20

### Short hand expression

In [2]:
num1 if num1 >= num2 else num2

20

### lambda function with if else

In [7]:
num1 = 10
num2 = 20

result = lambda num1,num2 : num1 if num1 >= num2 else num2
result(num1,num2)

20

### Using list comprehension with Lambda function

In [8]:
nums = [3,5,6,7]
square = [i**2 for i in nums]

In [9]:
square

[9, 25, 36, 49]

In [11]:
for i in nums:
    print(i**2)

9
25
36
49

In [13]:
square = lambda data: [i**2 for i in nums]

In [14]:
square(nums)

[9, 25, 36, 49]

### IIFE Function - Immediately Invoked function Expression

In [15]:
(lambda a,b: a+b)

In [16]:
(lambda a,b: a+b)(10,5)

15

In [18]:
(lambda num:num+1)(int(input("enter a number: ")))

enter a number: 10

11